.idea/
WifiMDNSTest/.project
WifiMDNSTest/.cproject
venv/
Somo_ZeroConf/.vscode/
PythonMDNSTest/__pycache__/
SomoServer/__pycache__/PandasModel.cpython-36.pyc
SomoServer/__pycache__/TableModel.cpython-36.pyc
SomoServer/__pycache__/ZeroConf.cpython-36.pyc
SomoServer/__pycache__/gui1.cpython-36.pyc
SomoServer/__pycache__/
